body {
  text-align: center;
  background-color: #011f3f;
}

#level-title {
  font-family: "Press Start 2P", cursive;
  font-size: 2.7rem;
  margin: 5%;
  color: #fef2bf;
}

.container {
  display: block;
  width: 50%;
  margin: auto;
}

.btn {
  margin: 25px;
  display: inline-block;
  height: 200px;
  width: 200px;
  border: 10px solid black;
  border-radius: 20%;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}

@media screen and (max-width: 1104px) {
  .container {
    width: 70%;
  }
}

@media screen and (max-width: 793px) {
  .container {
    width: 80%;
  }

  .btn {
    height: 180px;
    width: 180px;
  }
}

@media screen and (max-width: 695px) {
  #level-title {
    font-size: 2.3rem;
  }

  .container {
    width: 97%;
  }

  .btn {
    height: 160px;
    width: 160px;
  }
}

@media screen and (max-width: 494px) {
  #level-title {
    font-size: 2.2rem;
    margin-top: 5%;
  }

  .container {
    width: 100%;
  }

  .btn {
    height: 140px;
    width: 140px;
  }
}

@media screen and (max-width: 439px) {
  #level-title {
    font-size: 2rem;
    margin: 5% 0%;
  }

  .btn {
    height: 120px;
    width: 120px;
  }
}

@media screen and (max-width: 399px) {
  #level-title {
    font-size: 1.8rem;
    margin: 5% 0%;
  }

  .btn {
    height: 100px;
    width: 100px;
  }
}

@media screen and (max-width: 359px) {
  #level-title {
    font-size: 1.7rem;
    margin: 5% 0%;
  }

  .btn {
    height: 80px;
    width: 80px;
  }
}

@media screen and (max-width: 320px) {
  #level-title {
    font-size: 1.5rem;
    margin: 5% 0%;
  }

  .btn {
    height: 70px;
    width: 70px;
  }
}

@media screen and (max-width: 300px) {
  #level-title {
    font-size: 1.5rem;
    margin: 5% 0%;
  }

  .btn {
    height: 60px;
    width: 60px;
  }
}

@media screen and (max-width: 280px) {
  #level-title {
    font-size: 1.4rem;
    margin: 5% 0%;
  }

  .btn {
    height: 50px;
    width: 50px;
  }
}

@media screen and (max-width: 260px) {
  #level-title {
    font-size: 1.3rem;
    margin: 5% 0%;
  }

  .btn {
    height: 45px;
    width: 45px;
  }
}
